.Logo {
    transition: filter, transform 0.5s ease-in-out;
    will-change: filter, transform;

    &:hover {
        filter: drop-shadow(0.5em 0.5em 0.5em var(--red-100));
        transform: rotateZ(90deg);
    }
}
