.Main {
    main {
        box-sizing: border-box;
        padding: 4em;
        overflow-y: scroll;
    }

    header {
        display: grid;
        place-items: center;
        height: 31em;
        font-family: var(--emberly);

        .title {
            font-weight: bolder;
            font-size: 25em;
        }
    }

    .center {
        font-size: 3.5em;
        display: flex;
        justify-content: space-between;
        font-family: var(--emberly);
        padding: 1px 0;
    }

    hr {
        height: 2px;
        border-style: solid;
        border-color: var(--brown-100);

        &.top {
            border-width: 1px 0 2px 0;
        }

        &.bottom {
            border-width: 2px 0 1px 0;
        }
    }

    article {
        font-size: 3em;
        padding: 2em 0.5em;
        //column-count: 3;
        line-height: 1.6;
        text-align: justify;


        .thumbnail {
            width: 540px;
            height: 340px;
            overflow: hidden;
            border-radius: 2px;
            margin-top: 2em;

            img {
                mix-blend-mode: color-burn;
                width: 100%;
            }

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2n-1) {
                float: left;
                margin-right: 2em;
                margin-bottom: 2em;
            }

            &:nth-child(2n) {
                float: right;
                margin-left: 2em;
                margin-bottom: 2em;
            }

        }

        p + p {
            margin-top: 1em;
        }
    }

}
