@font-face {
    font-family: "Emberly";
    font-weight: 700;
    font-display: swap;
    src: local("Emberly-Bold"),
    url("../assets/fonts/Emberly-Bold.woff") format("woff")
}
@font-face {
    font-family: "ChosunNm";
    font-weight: 400;
    font-display: swap;
    src: local("ChosunNm"),
    url("../assets/fonts/ChosunNm.woff") format("woff")
}
