.Menu {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    will-change: gap;

    .menuIcon {
        display: grid;
        place-items: center;
        transition: gap 0.15s linear;
        gap: 14px;

        .bar {
            width: 37px;
            height: 5px;
            background-color: var(--brown-100);
            transition: width, transform 0.2s ease-in-out;
        }

        .second {
            width: 45px;
        }


    }

    &:hover {
        .menuIcon {
            gap: 10px
        }
    }

    &.open {
        .menuIcon {
            gap: 14px;
        }

        .first {
            width: 45px;
            transform: translateY(18px) rotateZ(60deg);
        }

        .third {
            width: 45px;
            transform: translateY(-20px) rotateZ(-60deg);
        }
    }

    &.close {
    }

    .text {
        position: absolute;
        font-size: 2em;
        bottom: 1.5em;
        font-family: var(--emberly);
        font-weight: 700;
        letter-spacing: 1.1em;
        margin-right: -1.1em;
    }


}
