.Sidebar {
    display: grid;
    border-right: 1px solid var(--brown-100);
    grid-template-rows: 100px 100px 1fr 100px 42px;

    > * {
        border-bottom: 1px solid var(--brown-100);

        &:last-child {
            border-bottom: none;
        }
    }

    .logo {
        display: grid;
        place-items: center;
    }

    .menu {
        cursor: pointer;
    }

    .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }


}
