.Sidebar {
    display: grid;
    border: 3px solid var(--brown-100);
    border-radius: 3px 0 0 3px;
    border-right: 1px solid var(--brown-100);
    grid-template-rows: 100px 100px 1fr 122px 42px;
    background-color: var(--ivory-100);
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    width: 100px;
    z-index: 2;

    > * {
        border-bottom: 1px solid var(--brown-100);

        &:last-child {
            border-bottom: none;
        }
    }

    .logo {
        display: grid;
        place-items: center;
    }

    .menu {
        cursor: pointer;
    }

    .signIn {
        font-family: var(--emberly);
        font-size: 9em;
        display: grid;
        place-items: center;
        text-align: center;
        font-weight: 900;

        a {
            color: var(--brown-100);
            text-decoration: none;
        }
    }

    .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4em;
    }

}
