@import "style/mixin";

.App {
    overflow: hidden;
    display: grid;
    margin: 0 2em;

    @include narrow {
        position: relative;
        width: fit-content;
        max-width: calc(100% - 2em);
        grid-template-rows: minmax(calc(100% - 2em), 900px);
        padding-left: 100px;
    }
    @include tablet {
        > * {
            display: none;
        }
    }
}

.mobile {
    @include narrow {
        display: none;
    }
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: var(--brown-100);

}
