@import "style/mixin";

.App {
    overflow: hidden;
    display: grid;
    @include desktop {
        position: relative;
        width: fit-content;
        max-width: calc(100% - 2em);
        grid-template-rows: minmax(calc(100% - 2em), 900px);
        padding-left: 100px;
    }
}

