.Page{
    display: grid;
    grid-template-columns: minmax(calc(100% - 900px), 300px) 900px;
    border-style: solid;
    border-color: var(--brown-100);
    border-width: 3px;
    border-left-width: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--ivory-100);
}
