@import "../../../style/mixin";

.Page {
    display: grid;

    border-style: solid;
    border-color: var(--brown-100);
    border-width: 3px;
    border-left-width: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--ivory-100);
    box-sizing: border-box;
    grid-template-columns: minmax(900px, 1200px);

    aside {
        display: none;
    }

    @include wide {
        grid-template-columns: minmax(calc(100% - 900px), 300px) 900px;
        aside {
            display: block;
        }
    }
}
